div#todolist{
    width: 15rem;
    background-color: silver;
    margin-left: auto;
    margin-right:auto;
    margin-top: 12%;
    font-weight: bold;
    font-size: 0.5rem;
    padding-top: 1px;
}
div input{
    width: 12.9rem;
    line-height: 0.8rem;
}
div button{
    width: 2rem;
    height: 0.9rem;
    float: right;
    line-height: 1rem;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
li{
    line-height: 1rem;
    border-bottom: 1px solid white;
}
li button{
    line-height: 1rem;
}
li button{
    line-height: 1rem;
}
li.end{
    background-color: darksalmon;
}