div#todolist{
    width:300px;
    height:300px;
    background-color: silver;
    margin-left: auto;
    margin-right:auto;
    margin-top: 12%;
    font-weight: bold;
    padding-top: 1px;
}
div input{
    width: 14rem;
    line-height: 21px;
    margin-bottom: 0.2rem;
}
div button{
    width: 3.9rem;
    height: 1.8rem;
    float: right;
    line-height: 1.7rem;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
li{
    line-height: 30px;
    border-bottom: 1px solid white;
}
li button{
    line-height: 28px;
}
li button{
    line-height: 1.7rem;
}
li.end{
    background-color: darksalmon;
}